<div class="row">
	<div class="container">
		<h2 class="center-align">Change your Password</h2>

		<p ng-if="response">Info: {{response}}</p>

		<div class="col s12">
			<div class="row">
				<div class="input-field col s12">
					<i class="material-icons prefix">lock</i>
					<input id="old" type="password" class="validate"  ng-model="passwords.old">
					<label for="old">Old Password</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<i class="material-icons prefix">lock_outline</i>
					<input id="new" type="password" class="validate"  ng-model="passwords.new">
					<label for="new">New Password</label>
				</div>
			</div>
			</div>
			<div class="row">
				<div class="right">
					<button class="btn waves-effect waves-light" ng-click="changePassword()">Submit
						<i class="material-icons right">send</i>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
